<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="\NuGetPackages" />
    <add key="repositorypath" value="\NuGetPackages" />
    <add key="DefaultPushSource" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_DT/nuget/v3/index.json" />
    <add key="PackageSaveMode" value="nuspec;nupkg" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="hybriddatais-Consumption" value="https://msdata.pkgs.visualstudio.com/azure data movement/_packaging/hybriddatais-Consumption/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>